@charset "UTF-8";

.searchTitle {
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
}

.mentionLayout {
	height: 300px;
	width: 670px;
}

.mentionChannelLayout {
	background: white;
	height: 160px;
	width: 490px;
	margin-right: 20px;
	border-radius: 20px;
	align-items: center;
}

.mentionDateLayout {
	background: white;
	height: 160px;
	width: 490px;
	border-radius: 20px;
}

.mentionGraphLayout {
	background: white;
	height: 830px;
	width: 1200px;
	margin-top: 20px;
	border-radius: 20px;
}

.topChannelImg {
	width: 90px;
	hegiht: 90px;
	margin-left: 20px;	
	
}

.topChannelName {
	font-size: 16px;
	font-weight: 600;
	color: #198754;
	height: 30px;
	width: 100px;
	margin: 0px;
	padding: 0;
	text-align: center;
	vertical-align: center;
}

.topChannelNameDate {
	float: right;
	color: #A9A9A9;
	margin-right: 30px;
}

.SNSLayout {
	background: white;
	height: 550px;
	width: 650px;
	border-radius: 20px;
	padding: 10px;
	overflow: scroll;
}


.snsContent {
	width: 520px;
	height: 100px;
	border-radius: 15px;
	padding: 17px;
	background: #f8f9fa;
	float: right;
	margin-bottom: 1px;
}

.snsImg {
	width: 50px;
	height: 45px;
	
}

.snsDate{
	color:#A9A9A9;
	font-size:16px;
	
}


.wordCloudLayout {
	background: white;
	height: 440px;
	width: 650px;
	margin-top: 20px;
	border-radius: 20px;
}

.recommendLayout {
	background: white;
	height: 300px;
	width: 1683px;
	margin-left: 5px;
	margin-top: 20px;
	border-radius: 20px;
}

.youtubeLayout {
	background: white;
	height: 300px;
	width: 1683px;
	margin-left: 5px;
	margin-top: 20px;
	border-radius: 20px;
}

.searchLayout {
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.rightLayout {
	height: 300px;
	width: 670px;
}
