@charset "UTF-8";

.body-container {
	max-width: 800px;
}

thead {
	text-align: center;
	background-color: #ECF4EB
}

tbody tr:hover {
	box-shadow: 1px 1px 5px -5px;
}

.side {
	list-style: none;
	font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 16px;
}

.side-menu1 {
	position: absolute;
	top: 10rem;
	left: 15rem;
	background: #198754;
	width: 9rem;
	height: 3rem;
	text-align: center;
	color: white;
	padding-top: 0.5rem;
}

.side-menu2 {
	position: absolute;
	top: 14rem;
	left: 15rem;
}

.side-menu2 a {
	text-decoration: none;
	color: gray;
}

.side-menu3 {
	position: absolute;
	top: 17rem;
	left: 15rem;
}

.side-menu3 a {
	text-decoration: none;
	color: gray;
}

.side-menu4 {
	position: absolute;
	top: 20rem;
	left: 15rem;
}

.side-menu4 a {
	text-decoration: none;
	color: gray;
}

.side-menu5 {
	position: absolute;
	top: 23rem;
	left: 15rem;
}

.side-menu5 a {
	color: #198754;
	font-weight: bold;
	text-decoration: none;
}