<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminEvent">
	<insert id="insertEvent" parameterType="com.moumi.app.admin.event.Event">
		INSERT INTO event(eventNum, userCode, subject, content, price, 
				StartDate, endDate, thumbnail, hitCount, regDate)
		VALUES (event_seq.NEXTVAL, #{userCode}, #{subject}, #{content}, #{price}, 
				#{startDate}, #{endDate}, #{thumbnail}, 0, SYSDATE)
	</insert>
	
	<select id="listEvent" parameterType="map" resultType="com.moumi.app.admin.event.Event">
		SELECT eventNum, subject, content, thumbnail, TO_CHAR(regDate,'yyyy.mm.dd') AS regDate, TO_CHAR(startDate, 'yyyy.mm.dd') AS startDate, TO_CHAR(endDate,'yyyy.mm.dd') AS endDate
		FROM event
		ORDER BY eventNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	<select id="readEvent" parameterType="Long" resultType="com.moumi.app.admin.event.Event">
		SELECT eventNum, userCode, subject, content, thumbnail, TO_CHAR(regDate, 'yyyy.mm.dd') AS regDate, TO_CHAR(startDate, 'yyyy.mm.dd') AS startDate, TO_CHAR(endDate, 'yyyy.mm.dd') AS endDate, price
		FROM event 
		WHERE eventNum = #{eventNum}
	</select>
	
	<update id="updateEvent"  parameterType="com.moumi.app.admin.event.Event">
		UPDATE event SET subject=#{subject}, price=#{price}, content=#{content}, startDate=#{startDate}, endDate=#{endDate}, thumbnail=#{thumbnail}
		WHERE eventNum = #{eventNum}
	</update>

	<delete id="deleteEvent" parameterType="Long">
		DELETE FROM event 
		WHERE eventNum = #{eventNum}
	</delete>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM event e		
	</select>
</mapper>