<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<insert id="insertEvent" parameterType="com.moumi.app.admin.event.Event">
		INSERT INTO event(eventNum, userCode, subject, content, 
				StartDate, endDate, thumbnail, hitCount, regDate)
		VALUES (event_seq.NEXTVAL, #{userCode}, #{subject}, #{content},
				#{startDate}, #{endDate}, #{thumbnail}, 0, SYSDATE)
	</insert>
	
	<select id="listEvent" parameterType="map" resultType="com.moumi.app.admin.event.Event">
		SELECT eventNum, subject, content, thumbnail, TO_DATE(regDate, 'yyyy-mm-dd'), TO_DATE(startDate, 'yyyy-mm-dd'), TO_DATE(endDate, 'yyyy-mm-dd')
		FROM event
		ORDER BY eventNum DESC
	</select>

	<select id="readEvent" parameterType="Long" resultType="com.moumi.app.admin.event.Event">
		SELECT eventNum, userCode, subject, content, thumbnail, regDate
		FROM event 
		WHERE eventNum = #{eventNum}
	</select>

</mapper>