<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">
	<select id="listComment" parameterType="map" resultType="com.moumi.app.admin.comment.Comment">
		SELECT  c.brandName smallBrandName, b.brandName bigBrandName, subject, m1.userName writeName, s.stopNum, r.regDate, r.communityNum,
			r.content, m2.userName sendName, notifyContent, p.status
        FROM reply r
        JOIN replyStop s ON r.replyNum = s.replyNum
        JOIN member m1 ON r.userCode = m1.userCode
        JOIN member m2 ON s.userCode = m2.userCode
        JOIN community c ON r.communityNum = c.communityNum
        JOIN replyStatus p ON s.stopNum = p.stopNum
        JOIN brandCategory b ON c.brandNum = b.brandNum
        WHERE p.status = #{status}
		ORDER BY s.stopNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM replyStop r
		JOIN replyStatus s ON r.stopNum = s.stopNum
		WHERE status = ${status}
	</select>
	
	<update id="updateComment" parameterType="map">
		UPDATE replyStatus SET status = #{status} WHERE stopNum = #{stopNum}
	</update>

</mapper>