<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	
	<select id="listEvent" parameterType="map" resultType="com.moumi.app.event.Event">
		SELECT eventNum, subject, content, thumbnail, TO_CHAR(regDate,'yyyy.mm.dd') AS regDate,
		TO_CHAR(startDate, 'yyyy.mm.dd') AS startDate, TO_CHAR(endDate,'yyyy.mm.dd') AS endDate, pickCount, status, 
		TRUNC(endDate - SYSDATE) deadLine
		FROM event
		WHERE (TRUNC(startDate-SYSDATE)) &lt;= 0  AND (TRUNC(endDate-SYSDATE)) &gt;=0
		ORDER BY eventNum DESC

	</select>

	<select id="readEvent" parameterType="Long" resultType="com.moumi.app.event.Event">
		SELECT eventNum, userCode, subject, content, thumbnail, TO_CHAR(regDate, 'yyyy.mm.dd') AS regDate, TO_CHAR(startDate, 'yyyy.mm.dd') AS startDate, TO_CHAR(endDate, 'yyyy.mm.dd') AS endDate, hitCount, price
		FROM event
		WHERE eventNum = #{eventNum}
	</select>
	
	<insert id ="insertReply"  parameterType="com.moumi.app.event.Reply" >
		INSERT INTO eventReply(replyNum, eventNum, userCode, content, regDate)
		VALUES (eventReplyNum_seq.NEXTVAL, #{eventNum}, #{userCode}, #{content}, SYSDATE)
	</insert>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM eventReply
		WHERE eventNum = #{eventNum}
		
	</select>
	
	
	<select id = "listReply" parameterType ="map" resultType ="com.moumi.app.event.Reply">
		SELECT replyNum, content, e.regDate, e.userCode, userName 
		FROM eventReply e 
        LEFT OUTER JOIN member m 
        ON e.userCode = m.userCode
        WHERE eventNum = #{eventNum}
	</select>
	
	<delete id="deleteReply" parameterType="map">
		DELETE FROM eventReply 
		WHERE replyNum = #{replyNum}
	</delete>
	
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE event SET hitCount = hitCount + 1 WHERE eventNum = #{eventNum}
	</update>
	
	
	
	
	
</mapper>