<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	<insert id="insertFaq" parameterType="com.moumi.app.admin.faq.Faq">
		INSERT INTO faq(faqNum, userCode, subject, content, categoryNum)
		VALUES (faq_seq.NEXTVAL, #{userCode}, #{subject}, #{content}, #{categoryNum})
	</insert>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM faq f
		JOIN member m ON f.userCode= m.userCode
		JOIN faqCategory c ON f.categoryNum = c.categoryNum
		<where>
			<if test="categoryNum!=0">
				( f.categoryNum = #{categoryNum} )
			</if>
		</where>
	</select>
	
	<select id="listFaq" parameterType="map" resultType="com.moumi.app.admin.faq.Faq">
		SELECT f.faqNum, userName, subject, categoryName, c.categoryNum, content
		FROM faq f
		JOIN member m ON f.userCode = m.userCode
		JOIN faqCategory c ON f.categoryNum = c.categoryNum
		<where>
			<if test="categoryNum!=0">
				( f.categoryNum = #{categoryNum} )
			</if>
		</where>
		ORDER BY faqNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="listFaqU" parameterType="map" resultType="com.moumi.app.admin.faq.Faq">
		SELECT f.faqNum, userName, subject, categoryName, c.categoryNum, content
		FROM faq f
		JOIN member m ON f.userCode = m.userCode
		JOIN faqCategory c ON f.categoryNum = c.categoryNum
		<where>
			<if test="categoryNum!=0">
				( f.categoryNum = #{categoryNum} )
			</if>
		</where>
		ORDER BY faqNum DESC
	</select>	
	
	<select id="readFaq" parameterType="Long" resultType="com.moumi.app.admin.faq.Faq">
		SELECT content, subject, f.faqNum, c.categoryNum, userName, f.userCode
		FROM faq f
		JOIN member m ON f.userCode=m.userCode
		JOIN faqcategory c ON f.categoryNum = c.categoryNum
		WHERE f.faqNum = #{faqNum}
	</select>
	
	<update id="updateFaq" parameterType="com.moumi.app.admin.faq.Faq">
		UPDATE faq SET subject = #{subject}, content = #{content}, categoryNum = #{categoryNum}
		WHERE faqNum = #{faqNum}
	</update>
	
	<delete id="deleteFaq" parameterType="Long">
		DELETE FROM faq WHERE faqNum = #{faqNum}
	</delete>
	
	<delete id="deleteList" parameterType="java.util.List">
		DELETE FROM faq
		WHERE faqNum IN
		<foreach collection="list" item="faqNum" index="index" open="(" separator="," close=")">
			#{faqNum}
		</foreach>
	</delete>
	
	<select id="listCategory" parameterType="map" resultType="com.moumi.app.admin.faq.Faq">
		SELECT categoryNum, categoryName
		FROM faqCategory
		ORDER BY categoryNum
	</select>

</mapper>