<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">

	<select id="listRegion" parameterType="map" resultType="com.moumi.app.Region"> 
		SELECT regionCode, regionName, latitude, longitude
		FROM region	
	</select>

	<select id="listMainReport" parameterType="map" resultType="com.moumi.app.Report">
        SELECT r.reportNum, subject, hitCount, thumbnail,
				TO_CHAR(r.regDate, 'YYYY-MM-DD') regDate,
				NVL(fileCount, 0) fileCount
		FROM report r
		JOIN member m ON r.userCode = m.userCode
		LEFT OUTER JOIN (
			SELECT reportNum, COUNT(*) fileCount FROM reportFile
			GROUP BY reportNum
		) f ON r.reportNum = f.reportNum
        WHERE ROWNUM &lt;= 6
        ORDER BY regDate ASC
	</select>
	
	<select id = "listReport" parameterType="map" resultType="com.moumi.app.Report"> 
		SELECT subject, content, regDate, reportNum
		FROM report
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM report r
	</select>
	
	<select id = "readReport" parameterType="Long" resultType="com.moumi.app.Report"> 
		SELECT subject, content, regDate, reportNum
		FROM report
		WHERE reportNum = #{reportNum}
	</select>

</mapper>