<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberManage">
	<sql id="where-list">
		<choose>
			<when test="condition=='email'">
				INSTR(m.userCode, #{keyword}) &gt;= 1
			</when>
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt;= 1
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*)
		FROM member
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="enabled!=''">
				AND enabled = #{enabled}
			</if>
			<if test="userType gt 0">
				AND userType = #{userType}
			</if>
		</where>
	</select>
	
	<select id="listMember" parameterType="map" resultType="com.moumi.app.admin.memberManage.Member">
		SELECT m.userCode, m.email, userName, userType, nickName,
			lastLogin, gender,
			enabled, TO_CHAR(regDate, 'YYYY-MM-DD') regDate
		FROM member m
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			<if test="enabled!=''">
				AND enabled = #{enabled}
			</if>
			<if test="userType gt -1">
				AND userType = #{userType}
			</if>
		</where>
		ORDER BY regDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="readMember" parameterType="long" resultType="com.moumi.app.admin.memberManage.Member">
		SELECT m.userCode, email, userName, userType, nickName,
			regDate, lastLogin, gender,
			enabled, TO_CHAR(regDate, 'YYYY-MM-DD') regDate, endDate, TO_CHAR(payDate, 'YYYY-MM-DD') startDate
		FROM member m
        LEFT OUTER JOIN payment p ON m.userCode = p.userCode
		WHERE m.userCode = #{userCode}
		ORDER BY endDate DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<update id="updateFailureCountReset" parameterType="long">
		UPDATE member SET failure_cnt = 0
		WHERE userCode = #{userCode}
	</update>
	
	<update id="updateMemberEnabled" parameterType="map">
		UPDATE member SET enabled= #{enabled} WHERE userCode = #{userCode}
	</update>
	
	<insert id="insertMemberState" parameterType="com.moumi.app.admin.memberManage.Member">
		INSERT INTO state(stateNum, userCode, stateCode, memo, registerCode, register_date)
		VALUES (state_seq.NEXTVAL, #{userCode}, #{stateCode}, #{memo}, #{registerCode}, SYSDATE)
	</insert>
	
	<select id="listMemberState" parameterType="long" resultType="com.moumi.app.admin.memberManage.Member">
		SELECT stateNum, s.userCode, stateCode, memo, registerCode, register_date
		FROM state s
		JOIN member m ON s.userCode = m.userCode
		WHERE s.userCode = #{userCode}
		ORDER BY stateNum DESC
	</select>
	
	<select id="readMemberState" parameterType="long" resultType="com.moumi.app.admin.memberManage.Member">
		SELECT stateNum, userCode, stateCode, memo, registerCode, register_date
		FROM state
		WHERE userCode = #{userCode}
		ORDER BY stateNum DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="listMemberSub" parameterType="long" resultType="com.moumi.app.admin.memberManage.Member">
		SELECT paymentNum, endDate, TO_CHAR(payDate, 'YYYY-MM-DD') startDate, TO_CHAR(payDate, 'YYYY-MM-DD') payDate
		FROM payment
		WHERE userCode = #{userCode}
		ORDER BY paymentNum DESC
	</select>
	

</mapper>