<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myhistory">


	<select id="myhistoryPost" parameterType="map" resultType="com.moumi.app.mypage.myhistory.Myhistory">
		SELECT 'community' tableName, c.communityNum, c.subject, c.regDate
		FROM community c
		JOIN member m ON m.userCode = c.userCode
		WHERE c.userCode = #{userCode}
		
		UNION ALL
	
		SELECT 'recruit' tableName, r.recruitNum, r.subject, r.regDate
		FROM recruit r
		JOIN member m ON m.userCode = r.userCode
		WHERE r.userCode = #{userCode}
		
		ORDER BY regDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="myhistoryReply" parameterType="map" resultType="com.moumi.app.mypage.myhistory.Myhistory">
		SELECT r.content, r.regDate, c.subject
		FROM reply r
		JOIN community c ON c.communityNum = r.communityNum
		WHERE r.userCode= #{userCode}
		ORDER BY regDate DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>



	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
		FROM (
		    SELECT 'community' tableName, c.communityNum, c.subject, c.regDate
		            FROM community c
		            JOIN member m ON m.userCode = c.userCode
		            WHERE c.userCode = #{userCode}
		            
		            UNION ALL
		    
		    SELECT 'recruit' tableName, r.recruitNum, r.subject, r.regDate
		            FROM recruit r
		            JOIN member m ON m.userCode = r.userCode
		            WHERE r.userCode = #{userCode}
		)
	</select>
	
	<select id="dataCountR" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) 
        FROM (
	        SELECT r.content, r.regDate, c.subject
			FROM reply r
			JOIN community c ON c.communityNum = r.communityNum
			WHERE r.userCode= #{userCode}
        )
	</select>


</mapper>

