<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypayment">

	<select id="mypaymentOne" parameterType="map" resultType="com.moumi.app.mypage.mypayment.Mypayment">
		SELECT * FROM (
	        SELECT m.nickName, p.paymentNum, pc.subject, pc.content, TO_CHAR(p.payDate, 'YYYY-MM-DD') payDate, TO_CHAR(p.endDate, 'YYYY-MM-DD') endDate
	                FROM payment p
	                LEFT JOIN member m ON p.userCode = m.userCode
	                LEFT JOIN payDetail pd ON p.paymentNum = pd.paymentNum
	                LEFT JOIN payCategory pc ON pd.categoryNum = pc.CategoryNum
	                
	                WHERE p.userCode = #{userCode}
	                
	                ORDER BY p.payDate DESC
		)
		WHERE ENDDATE >= SYSDATE
	</select>

	<select id="mypayment" parameterType="map" resultType="com.moumi.app.mypage.mypayment.Mypayment">
		SELECT m.nickName, p.paymentNum, pc.subject, pc.content, TO_CHAR(p.payDate, 'YYYY-MM-DD') payDate, TO_CHAR(p.endDate, 'YYYY-MM-DD') endDate
		FROM payment p
		LEFT JOIN member m ON p.userCode = m.userCode
		LEFT JOIN payDetail pd ON p.paymentNum = pd.paymentNum
		LEFT JOIN payCategory pc ON pd.categoryNum = pc.CategoryNum
		
		WHERE p.userCode = #{userCode}
		
		ORDER BY p.payDate DESC
	</select>
</mapper>

