<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pay">
	<insert id="insertPay" parameterType="com.moumi.app.pay.Pay">
		INSERT INTO payment(paymentNum,paymentPrice,userCode,payDate,discount,endDate)
			VALUES(#{paymentNum},#{paymentPrice},#{userCode},#{payDate},#{discount},#{endDate})
	</insert>
	<insert id = "insertProduct" parameterType="com.moumi.app.pay.Pay">
		INSERT INTO payDetail(categoryNum,paymentNum) VALUES(#{categoryNum},#{paymentNum})
	</insert>
	<select id="selectMember" parameterType="Long" resultType="com.moumi.app.pay.Pay">
		SELECT userName,email
		FROM member
		WHERE userCode = #{userCode}
	</select>
	<select id="selectProduct" parameterType="Integer" resultType="com.moumi.app.pay.Pay">
		SELECT subject,content
		FROM payCategory
		WHERE categoryNum = #{categoryNum}
	</select>
	<select id="selectCountPay" parameterType="Long" resultType="INTEGER">
		SELECT COUNT(*) FROM payment WHERE userCode = #{userCode} AND endDate > SYSDATE
	</select>
	
	<select id="selectCategory" parameterType="Long" resultType="INTEGER">
		SELECT p.categoryNum
		FROM payCategory p
		JOIN payDetail pd on p.categoryNum = pd.categoryNum
		JOIN payment pm on pd.paymentNum = pm.paymentNum
		WHERE pm.userCode = #{userCode}
	</select>
	
	<select id= "listCoupon" parameterType="Long" resultType="com.moumi.app.admin.event.Coupon">
		SELECT couponPrice
		FROM coupon c
		LEFT OUTER JOIN winner w ON c.couponNum = w.couponNum
		WHERE w.userCode = #{userCode}
	</select>
	<select id= "readCoupon" parameterType="Long" resultType="Integer">
		SELECT couponPrice
		FROM coupon c
		LEFT OUTER JOIN winner w ON c.couponNum = w.couponNum
		WHERE w.userCode = #{userCode}
	</select>
</mapper>