<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recruit">
	<select id="seq" resultType="Long">
		SELECT recruitNum_seq.NEXTVAL FROM dual
	</select>
	
	<sql id="where-list">
		<choose>
			<when test="condition == 'subject' ">
			    DBMS_LOB.INSTR(subject, #{keyword}) &gt; 0
			</when>
			<when test="condition == 'career'">
			    DBMS_LOB.INSTR(career, #{keyword}) &gt; 0
			</when>
			<when test="condition == 'corporation'">
			    DBMS_LOB.INSTR(corporation, #{keyword}) &gt; 0
			</when>
			<otherwise>
			    INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<insert id="insertRecruit">
		INSERT INTO recruit(recruitNum, subject, content, regDate, startDate, endDate, 
			email, userCode, corporation, categoryNum)
		VALUES(#{recruitNum}, #{subject}, #{content}, SYSDATE, #{startDate}, #{endDate}, 
			#{email}, #{userCode}, #{corporation}, #{categoryNum})
	</insert>
	

	
	<select id="listCareerCategory" resultType="com.moumi.app.recruit.Recruit">
		SELECT categoryNum, career
		FROM careerCategory
		ORDER BY categoryNum
	</select>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM recruit r
		JOIN careerCategory c ON r.categoryNum = c.categoryNum
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listRecruit" parameterType="map" resultType="com.moumi.app.recruit.Recruit">
		SELECT r.recruitNum, c.career, corporation, subject, 
			TO_CHAR(startDate, 'YYYY.MM.DD') startDate, TO_CHAR(endDate, 'YYYY.MM.DD') endDate
		FROM recruit r
		JOIN careerCategory c ON r.categoryNum = c.categoryNum
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY recruitNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.moumi.app.recruit.Recruit">
		INSERT INTO recruitFile(fileNum, imageFileName, recruitNum)
  		  VALUES(recruitFile_seq.NEXTVAL, #{imageFileName}, #{recruitNum})
	</insert>
	
	<select id="listFile" parameterType="long" resultType="com.moumi.app.recruit.Recruit">
		SELECT fileNum, imageFileName, recruitNum
		FROM recruitFile
		WHERE recruitNum = #{recruitNum}
	</select>
	
	<select id="readFile" parameterType="long" resultType="com.moumi.app.recruit.Recruit">
		SELECT fileNum, imageFileName, recruitNum
		FROM recruitFile
		WHERE fileNum = #{fileNum}
	</select>
	
	<delete id="deleteFile" parameterType="map">
		DELETE FROM recruitFile WHERE ${field} = #{recruitNum}
	</delete>
	
	
</mapper>