<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales">
	<!-- 금일 매출 -->
	<select id="todaySales" resultType="map">
		SELECT COUNT(*) count, NVL(SUM(paymentPrice), 0) total
		FROM payment
		JOIN 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<!-- 금일 매출(여성) -->
	<select id="todaySalesW" resultType="map">
		SELECT COUNT(*) count, NVL(SUM(paymentPrice), 0) total
		FROM payment p
        join member m on p.userCode = m.userCode
        WHERE gender = '여자'
		AND TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<!-- 금일 매출(남성) -->
	<select id="todaySalesM" resultType="map">
		SELECT COUNT(*) count, NVL(SUM(paymentPrice), 0) total
		FROM payment p
        join member m on p.userCode = m.userCode
        WHERE gender = '남자'
		AND TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<!-- 이번달 매출 -->
	<select id="monthSales" resultType="map">
		SELECT COUNT(*) count, NVL(SUM(paymentPrice), 0) total
		FROM payment
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(SYSDATE, 'YYYYMM')
	</select>
	
	<!-- 이전달 매출 -->
	<select id="previousMonthSales" resultType="map">
		SELECT COUNT(*) count, NVL(SUM(paymentPrice), 0) total
		FROM payment
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(SYSDATE, -1), 'YYYYMM')
	</select>
	
	<!-- 7주일간 매출 -->
	<select id="dayTotalSales"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		 
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') 
	</select>
	
	<!-- 7주일간 매출 여성 -->
	<select id="dayTotalSalesW"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		 
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') 
	</select>
	
	<!-- 7주일간 매출 남성 -->
	<select id="dayTotalSalesM"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') 
	</select>
	
	<!-- 20대 미만 -->
	<select id="dayTotalSalesT"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD')  
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
	</select>
	
	<!-- 20대 -->
	<select id="dayTotalSalesE"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD')  
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
	</select>
	
	<!-- 30대 -->
	<select id="dayTotalSalesS"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD')  
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
	</select>
	
	<!-- 40대 이상 -->
	<select id="dayTotalSalesF"  parameterType="String" resultType="map">
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-6, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD')  
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-5, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-4, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-2, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-3, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD')-1, 'YYYY-MM-DD') 
		  UNION ALL
		  
		SELECT TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND
		TO_CHAR(payDate, 'YYYY-MM-DD') = TO_CHAR(TO_DATE(#{data}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
	</select>
	
	<!-- 6개월간 월별 판매 금액 -->
	<select id="monthTotalSales"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(여성) -->
	<select id="monthTotalSalesW"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' AND TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(남성) -->
	<select id="monthTotalSalesM"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' AND TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(20대미만) -->
	<select id="monthTotalSalesT"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 AND TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(20대) -->
	<select id="monthTotalSalesE"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 AND
		 TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(30대) -->
	<select id="monthTotalSalesS"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 AND
		 TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월간 월별 판매 금액(40대이상) -->
	<select id="monthTotalSalesF"  parameterType="String" resultType="map">
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -4), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -3), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -2), 'YYYYMM') 
		  UNION ALL
		  
		SELECT TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -1), 'YYYYMM') 
		  UNION ALL
		  
		SELECT #{month} payDate, 
				NVL(SUM(paymentprice), 0) paymentprice 
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 AND TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
	<!-- 6개월 간 월별 구독자 수 -->
	<select id="monthTotalPie" parameterType="String" resultType="map">
		SELECT TO_CHAR(payDate, 'YYYYMM') payDate, COUNT(*) COUNT, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment 
		WHERE TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
		GROUP BY TO_CHAR(payDate, 'YYYYMM')
		ORDER BY payDate
	</select>
	
	<!-- 6개월 간 여성 구독자수  -->
	<select id="monthTotalPieW" parameterType="String" resultType="map">
		SELECT COUNT(gender) woman, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '여자' 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 6개월 간 남성 구독자수  -->
	<select id="monthTotalPieM" parameterType="String" resultType="map">
		SELECT COUNT(gender) man, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE gender = '남자' 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 6개월 간 20대 미만 구독자수  -->
	<select id="monthTotalPieT" parameterType="String" resultType="map">
		SELECT NVL(COUNT(*),0) teen, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 20 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 6개월 간 20대 구독자수  -->
	<select id="monthTotalPieE" parameterType="String" resultType="map">
		SELECT NVL(COUNT(*),0) teen, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 20 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 30 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 6개월 간 30대 구독자수  -->
	<select id="monthTotalPieS" parameterType="String" resultType="map">
		SELECT NVL(COUNT(*),0) teen, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 30 AND TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &lt; 40 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 6개월 간 40대 이상 구독자수  -->
	<select id="monthTotalPieF" parameterType="String" resultType="map">
		SELECT NVL(COUNT(*),0) teen, TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') startMonth, #{month} endMonth
		FROM payment p
		JOIN member m ON p.userCode = m.userCode
		WHERE TO_NUMBER(TO_CHAR(SYSDATE, 'YYYY') - TO_CHAR(birth, 'YYYY')) &gt;= 40 
			AND TO_CHAR(payDate, 'YYYYMM') &gt;= TO_CHAR(ADD_MONTHS(TO_DATE(#{month}, 'YYYYMM'), -5), 'YYYYMM') 
        	AND TO_CHAR(payDate, 'YYYYMM') &lt;= #{month}
	</select>
	
	<!-- 요일별 매출 -->
	<select id="dayOfWeekTotalCount" parameterType="String" resultType="map">
            SELECT COUNT(*) total,
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 1, 1)), 0) "SUN",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 2, 1)), 0) "MON",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 3, 1)), 0) "TUE",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 4, 1)), 0) "WED",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 5, 1)), 0) "THU",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 6, 1)), 0) "FRI",
                   NVL(COUNT(DECODE(TO_CHAR(payDate, 'D'), 7, 1)), 0) "SAT"
            FROM payment
            WHERE TO_CHAR(payDate, 'YYYYMM') = #{month}
	</select>
	
</mapper>